@font-face {
  font-family: emulogic;
  src: url("../assets/font/Emulogic-zrEw.ttf");
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  align-items: center;
  /* background: url("../assets/img/bezel.jpg") no-repeat;
  background-size: cover; */
  font-family: emulogic;
  color: white;
}

.grid {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(57, 8px);
  grid-template-rows: repeat(63, 8px);
  /* box-shadow: 0 0 50px #fff, 10px 0 80px blue; */
}

/* Start Screen CSS */
#start-screen {
  /* TEMPORARY */
  /* display: none; */
}

img {
  width: 100%;
  grid-row: 10 / 20;
  grid-column: 10 / 47;
}

#hyphen {
  height: 1rem;
}

#big-pill {
  grid-row: 25 / 26;
  grid-column: 15 / 16;
}

#pacman {
  grid-row: 24 / 27;
  grid-column: 18 / 21;

  display: grid;
  grid-template-columns: repeat(3, 8px);
}

#blinky-start,
#blinky-end {
  grid-row: 24 / 27;
  grid-column: 25 / 28;

  display: grid;
  grid-template-columns: repeat(3, 8px);
}

#pinky-start,
#pinky-end {
  grid-row: 24 / 27;
  grid-column: 30 / 33;

  display: grid;
  grid-template-columns: repeat(3, 8px);
}

#inky-start,
#inky-end {
  grid-row: 24 / 27;
  grid-column: 35 / 38;

  display: grid;
  grid-template-columns: repeat(3, 8px);
}

#clyde-start,
#clyde-end {
  grid-row: 24 / 27;
  grid-column: 40 / 43;

  display: grid;
  grid-template-columns: repeat(3, 8px);
}

#pacman-controller {
  grid-row: 35 / 38;
  grid-column: 23 / 26;

  display: grid;
  grid-template-columns: repeat(3, 8px);
}

#start {
  grid-row: 35 / 38;
  grid-column: 27;
}

#controls {
  grid-row: 40 / 43;
  grid-column: 27;
}

#high-scores {
  grid-row: 45 / 48;
  grid-column: 27;
}

/* END SCREEN STYLING */
#final-score {
  grid-row: 1;
  grid-column: 7;
}

#highest-score {
  grid-row: 1;
  grid-column: 30 / 50;
}

#header-end {
  grid-row: 8/ 11;
  grid-column: 13 / 55;
}

#blinky-end {
  grid-row: 13/ 16;
  grid-column: 7 / 10;
}

#blinky-real-name {
  color: rgb(255, 0, 0);
  grid-row: 13/ 16;
  grid-column: 13 / 30;
}

#blinky-nickname {
  color: rgb(255, 0, 0);
  grid-row: 13/ 16;
  grid-column: 37 / 57;
}

#pinky-end {
  grid-row: 18/ 21;
  grid-column: 7 / 10;
}

#pinky-real-name {
  color: rgb(255, 184, 255);
  grid-row: 18/ 21;
  grid-column: 13 / 30;
}

#pinky-nickname {
  color: rgb(255, 184, 255);
  grid-row: 18/ 21;
  grid-column: 37 / 57;
}

#inky-end {
  grid-row: 23/ 26;
  grid-column: 7 / 10;
}

#inky-real-name {
  color: rgb(0, 255, 255);
  grid-row: 23/ 26;
  grid-column: 13 / 30;
}

#inky-nickname {
  color: rgb(0, 255, 255);
  grid-row: 23/ 26;
  grid-column: 37 / 57;
}

#clyde-end {
  grid-row: 28 / 31;
  grid-column: 7 / 10;
}

#clyde-real-name {
  color: rgb(255, 184, 81);
  grid-row: 28 / 31;
  grid-column: 13 / 30;
}
#clyde-nickname {
  color: rgb(255, 184, 81);
  grid-row: 28 / 31;
  grid-column: 37 / 57;
}

#first {
  font-size: 5rem;
  grid-row: 32;
  grid-column: 12;

  animation: 1s flashing-letter infinite;
}

#second {
  font-size: 5rem;
  grid-row: 32;
  grid-column: 24;
  animation: 1s flashing-letter infinite;
}

#third {
  font-size: 5rem;
  grid-row: 32;
  grid-column: 36;
  animation: 1s flashing-letter infinite;
}

#enter-score {
  grid-row: 46 / 49;
  grid-column: 14/ 49;
}

#copyright {
  color: rgb(254, 184, 254);
  grid-row: 55 / 58;
  grid-column: 8/ 49;
}

#remaining-credits {
  grid-row: 59 / 62;
  grid-column: 7 / 57;
}

@keyframes flashing-letter {
  50% {
    color: gold;
  }
}

.small-pill {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 15px;
  color: rgb(255, 185, 152);
  font-size: 2rem;
}

.big-pill {
  border: 1px solid rgb(255, 185, 152);
  background-color: rgb(255, 185, 152);
  border-radius: 50%;
  transform: scale(150%);

  animation-name: big-pill-pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.small-pill::after {
  content: ".";
}

@keyframes big-pill-pulse {
  50% {
    border: 1px solid white;
    background-color: white;
  }
}

.edge-top {
  background: linear-gradient(
    to bottom,
    transparent 2px,
    blue 2px,
    blue 4px,
    transparent 4px
  );
}

.edge-top-left {
  margin: 4px 0 0 4px;
  border-top: 2px solid blue;
  border-left: 2px solid blue;
  border-top-left-radius: 100px;
}

.edge-top-right {
  margin: 4px 4px 0 0;
  border-top: 2px solid blue;
  border-right: 2px solid blue;
  border-top-right-radius: 50px;
}

.edge-middle {
  background: linear-gradient(
    to right,
    transparent 2px,
    blue 2px,
    blue 4px,
    transparent 4px
  );
}

.edge-bottom-right {
  margin: 0 4px 4px 0;
  border-bottom: 2px solid blue;
  border-right: 2px solid blue;
  border-bottom-right-radius: 50px;
}

.edge-bottom-left {
  margin: 0 0 4px 4px;
  border-bottom: 2px solid blue;
  border-left: 2px solid blue;
  border-bottom-left-radius: 100px;
}

@keyframes on-death-corners {
  50% {
    border-color: white;
  }
}

@keyframes on-death-vert {
  50% {
    background: linear-gradient(
      to right,
      transparent 2px,
      white 2px,
      white 4px,
      transparent 4px
    );
  }
}

@keyframes on-death-horiz {
  50% {
    background: linear-gradient(
      to bottom,
      transparent 2px,
      white 2px,
      white 4px,
      transparent 4px
    );
  }
}
