body {
  margin: 0;
  display: flex;
  background-color: black;
}

.grid {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(55, 8px);
  grid-template-rows: repeat(61, 8px);
  border: 1px solid red;
}

.tile {
  /* background-color: black; */
  /* border: 1px solid blue; */
}

.edge {
  background-color: blue;
}

.small-pill {
  border: 1px solid grey;
  border-radius: 50%;
}
